<div class="container">
    <div class="row">
        <span class="border border-5">
            <div class="col-xs-12">
                <div class="p-3 mb-2 bg-primary text-white">
                    <div class="border">
                        <div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
                            <div class="text-center" class="fs-1">
                                <p class="fw-bold">
                                    <img src="https://media.glassdoor.com/sqll/1624448/openeyes-technologies-squareLogo-1615971620304.png"
                                        alt="Logo" width="100" height="100" text-class="fw-bold"> 
                                        WELCOME TO OESS!!!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-fresher></app-fresher>
            <app-question></app-question>
        </span>
     
