/*--- Header --- */
.container-fluid {
    padding: 0 50px;
}

header {
    color: #3a3a3a;
    padding: 15px 0px;
    background: #f3f3f3;
    z-index: 999;
    border-bottom: 1px solid #ccc;
}

header .logo_main {
    width: 75px;
}

/*--- End Header --- */